<!DOCTYPE html>
<html>
<head>
    <title>Majik Tea | Redirecting...</title>
    <meta http-equiv="refresh" content="0; URL='/sessions/<%= mostRecentSession.sessionSlug %>'" />
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <p>If you are not redirected to our most recent session, <a href="/sessions/<%= mostRecentSession.sessionSlug %>/">click here</a>.</p>
</body>
</html>
