<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="List of Sessions released by Majik Tea" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Majik Tea | Sessions" />
    <meta property="og:description" content="List of Sessions released by Majik Tea" />
    <meta property="og:url" content="https://majiktea.netlify.app" />
    <meta property="og:site_name" content="Majik Tea | Sessions" />
    <title>Majik Tea | Sessions</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="/js/sidebar.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div id="mobile-menu"></div>
      <nav>
        <!-- web nav -->
        <div class="web-nav">
          <a href="/about" class="web-nav-item">About</a>
          <a href="/sessions" class="web-nav-item">Sessions</a>
        </div>
        <!-- mobile nav -->
        <img
          id="hamburger"
          class="mobile-nav"
          src="/icons/hamburger-button-svgrepo-com.svg"
        />
      </nav>
      <br>
      <!-- title -->
      <h1>Sessions</h1>
      <h3>By Majik Tea</h3>
      <br />
      <% Object.keys(sessionsByYear).sort((a, b) => b - a).forEach(year => { %>
      <h2><%= year %></h2>
      <ul>
        <% sessionsByYear[year].forEach(session => { %>
        <li><a href="/sessions/<%= session.sessionSlug %>/"><%= session.sessionName %></a></li>
        <br>
        <% }) %>
      </ul>
      <% }) %>
    </div>
  </body>
</html>
