:root {
  --bg-color: #212525;
  --bg-nav-color: #391f2d;
  --bg-nav-color-dark: rgb(40, 50, 65);
  --white: #e2e2e2;
  --gray: #b8b8b8;
  --dark-gray: #707070;
  --blue: #60a4e4;
  --orange: #e4bf60;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 2;
}

body {
  color: var(--white);
  background-color: var(--bg-color);
  font-family: serif;
  font-size: 20px;
  overscroll-behavior: none;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 800px;
  display: flex;
  flex-direction: column;
}

small {
  font-size: 12px;
}

a {
  color: var(--orange);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--blue);
  text-decoration: underline;
}

ul {
  list-style-type: "- ";
  margin-left: 30px;
}

button {
  width: 100px;
  background-color: var(--white);
  padding: 2px
}

button:hover {
  cursor: pointer;
  background-color: var(--blue);
}

button a {
  all: unset;
}

button a:hover {
  text-decoration: none;
}

.play-pause-button {
  background-color: var(--bg-color);
  font: inherit;
  font-size: 30px;
  color: inherit;
  width: 32px;
  height: 32px;
  border: none;
}

.play-pause-button:hover {
  background-color: var(--bg-color);
  color: var(--blue);
}

.pwr-btns-container {
  display: flex;
}

.pwr-btns-container button {
  margin-right: 5px;
}

figure {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

figcaption {
  width: 30%;
  display: flex;
  align-items: center;
}

.audio-player {
  width: 70%;
  position: relative;
  display: flex;
  align-items: center;
}

.progress-bar {
  cursor: pointer;
  position: relative;
  height: 10px;
  background-color: var(--white);
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 30px;
  width: 100%;
}

.progress {
  position: absolute;
  height: 100%;
  border-radius: 30px;
  background-color: var(--blue);
}

.time-tooltip {
  position: absolute;
  bottom: 20px; /* Adjust this value to position the tooltip above the cursor */
  transform: translateX(-50%);
  display: none; /* Initially hidden */
  padding: 2px 5px; /* Small padding around the text */
  border-radius: 5px; /* Optional: for styled corners */
  font-size: 12px; /* Adjust as needed */
  white-space: nowrap; /* Ensure the text does not wrap */
}

.description {
  line-height: 1.8;
}

.album-art-container {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
}

.album-cover {
  width: 100vw;
  max-width: 500px;
}

.album-art-container img {
  transition: filter 0.5s ease;
}

.song-cover {
  width: 75vw;
  max-width: 250px;
}

.info-blurb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.album-art-container:hover img {
  filter: brightness(50%);
}

.album-art-container:hover .info-blurb {
  opacity: 1;
}


/* NAVIGATION */
nav {
  font-family: monospace;
  font-size: 15px;
  display: flex;
  background-color: var(--bg-nav-color);
}

nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: normal;
}

nav a:hover {
  color: var(--white);
  text-decoration: underline;
}

.web-nav {
  display: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.web-nav-item {
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px
}

.web-nav-item:hover {
  background-color: var(--bg-nav-color-dark);
}

.mobile-nav {
  margin-right: 10px;
  height: 30px;
  width: 30px;
  display: none;
  filter: invert(90%);
}

@media screen and (max-width: 500px) {
  nav {
    justify-content: space-between;
  }

  .web-nav {
    display: none;
  }

  .mobile-nav {
    display: inherit;
  }

}

.sidebar {
  width: 200px;
  height: 500px;
  position: absolute;
  top: 50px;
  right: 0px;
  background: transparent;
  overflow: hidden;
}

.sidebar-items {
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  background-color: var(--bg-nav-color);
  transform: translate(200px, 0px);
  transition: 0.3s all ease-out;
}

.sidebar-items-item {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* END NAVIGATION */